@import url('https://fonts.googleapis.com/css2?family=Sono:wght@500&display=swap');

* {
	font-family: 'Sono', sans-serif;
}

:root {
	--lightblue: #7C8CB4;
	--darkblue: #2B2E63;
	--darkbeige: #EEE49E;
	--lightbeige: #A7A58F;
	--darkred: #c92a42;
	--bgwhite: #f4f4f4;
	--bggrey: lightgrey;
	--txtwhite: #f4f4f4;
	--txtblack: #1a1e1f;
}

html {
	background-size: cover;
	background: linear-gradient(45deg, var(--lightbeige), var(--lightblue)) no-repeat;
}

ul, ol, menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

body {
	margin: 0;
	display: flex;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin: 0;
}

button, input, select {
	display: flex;
	align-items: center;
	border-radius: 5px;
	border: thin solid var(--lightbeige);
	background-color: white;
	transition: border 0.2s, color 0.2s, box-shadow 0.2s;
	padding: 0.2em;
	margin: 0.2em;

	& > img {
		height: 1em;
		margin-right: 0.2em;
	}

	&:not([disabled]):hover {
		box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
		border-color: var(--darkblue);
		color: var(--darkblue);
	}

	&[disabled] {
		cursor: initial;
	}

	&:focus-visible {
		outline: none;
	}
}

button, select {
	cursor: pointer;
}

.switch {
	margin-right: 1em;
	display: inline-block;
	position: relative;
	width: 2em;
	height: 1em;
	cursor: pointer;
	overflow: hidden;
	border: thin solid white;
	border-radius: 15px;

	&.loading {
		filter: brightness(0.7);

		& > input + label {
			cursor: default;

			&:before {
				background-image: url("/icons/loading.gif");
			}
		}
	}

	& input {
		position: absolute;
		top: -30px;
		width: 0;
		height: 0;

		& + label {
			position: absolute;
			top: 0;
			cursor: pointer;
			bottom: 0;
			left: 0;
			right: 0;
			border-radius: 15px;

			&:before {
				content: "";
				display: inline-block;
				position: absolute;
				top: 50%;
				left: 0.15em;
				width: 0.7em;
				height: 0.7em;
				background: white;
				border-radius: 50%;
				transform: translateY(-50%);
				transition: all .5s;
			}

			&:before {
				background-color: var(--darkred);
				background-size: contain;
			}
		}

		&:checked + label {
			&:before {
				left: 1.1em;
			}

			&:before {
				background-color: var(--darkbeige);
				background-size: contain;
			}
		}
	}
}