body {
  height: 100vh;
  width: 100vw;
}
body > aside {
  flex-direction: column;
  margin: 1em 0 1em 1em;
  padding: 0.5em;
  display: flex;
  border-radius: 5px 0 0 5px;
}
body > aside > section {
  display: flex;
  align-items: center;
}
body > aside > section:first-child {
  padding-bottom: 0.5em;
}
body > aside > section > p {
  font-size: 0.8em;
}
body > aside > section > img {
  height: 1.5em;
  margin-right: 0.5em;
  border-radius: 50%;
}
body > aside > section:last-child > button {
  flex: 1;
  justify-content: center;
}
body > aside > ul {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body > aside > ul > li {
  display: flex;
  margin: 2em 0;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding: 0.5em;
  transition: box-shadow 1s;
  border-radius: 5px;
}
body > aside > ul > li > div {
  display: flex;
  align-items: center;
}
body > aside > ul > li > div > svg {
  position: absolute;
  fill: transparent;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
body > aside > ul > li > div > svg > .shape {
  display: flex;
  width: 100%;
  height: 100%;
  rx: 5px;
  stroke-dasharray: 75% 307%;
  stroke-dashoffset: 185%;
  stroke-width: 3px;
  transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
}
body > aside > ul > li:hover > div > svg > .shape {
  stroke-width: 1px;
  stroke-dasharray: 100% 0;
  stroke-dashoffset: 133%;
}
body > aside > ul > li > img {
  height: 1.5em;
  margin-right: 0.5em;
}
body > aside > ul > li > p {
  font-size: 0.8em;
}
body > main {
  margin: 1em 1em 1em 0;
  padding: 0.5em;
  border-radius: 0 5px 5px 0;
  background-color: var(--bgwhite);
  flex: 1;
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 3em);
}
body > main > h1, body > main p {
  color: var(--txtblack);
}
body > main:not(main.active) {
  display: none;
}
body > main > section {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 0;
}
