body {
	height: 100vh;
	width: 100vw;

	& > aside {
		flex-direction: column;
		margin: 1em 0 1em 1em;
		padding: 0.5em;
		display: flex;
		border-radius: 5px 0 0 5px;

		& > section {
			display: flex;
			align-items: center;

			&:first-child {
				padding-bottom: 0.5em;
			}

			& > p {
				font-size: 0.8em;
			}

			& > img {
				height: 1.5em;
				margin-right: 0.5em;
				border-radius: 50%;
			}

			&:last-child > button {
				flex: 1;
				justify-content: center;
			}
		}

		& > ul {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;

			& > li {
				display: flex;
				margin: 2em 0;
				align-items: center;
				cursor: pointer;
				position: relative;
				padding: 0.5em;
				transition: box-shadow 1s;
			    border-radius: 5px;

				& > div {
					display: flex;
					align-items: center;

					& > svg {
						position: absolute;
						fill: transparent;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						border-radius: 5px;

						& > .shape {
							display: flex;
							width: 100%;
							height: 100%;
							rx: 5px;
							stroke-dasharray: 75% 307%;
							stroke-dashoffset: 185%;
							stroke-width: 3px;
							transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
						}
					}
				}

				&:hover {
					& > div > svg > .shape {
						stroke-width: 1px;
						stroke-dasharray: 100% 0;
						stroke-dashoffset: 133%;
					}
				}

				& > img {
					height: 1.5em;
					margin-right: 0.5em;
				}

				& > p {
					font-size: 0.8em;
				}
			}
		}
	}

	& > main {
		margin: 1em 1em 1em 0;
		padding: 0.5em;
		border-radius: 0 5px 5px 0;
		background-color: var(--bgwhite);
		flex: 1;
		display: flex;
		flex-direction: column;
		max-height: calc(100vh - 3em);

		& > h1, p {
			color: var(--txtblack);
		}

		&:not(main.active) {
			display: none;
		}

		& > section {
			flex: 1;
			display: flex;
			flex-direction: column;
			height: 0; // Whatever this value is, the flex 1 is doing its job
		}
	}
}