body {
  justify-content: center;
  height: 100vh;
}
body > div {
  display: flex;
  align-items: center;
  margin: 0 20%;
  flex: 1;
}
body > div > section {
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  background-color: white;
  border-radius: 5px;
  min-height: 60%;
  flex: 1;
  display: flex;
}
body > div > section > ol {
  display: flex;
  flex: 1;
}
body > div > section > ol > li {
  padding: 0.5em;
  flex: 1;
  display: flex;
  flex-direction: column;
}
body > div > section > ol > li:first-child {
  border-radius: 5px 0 0 5px;
  color: white;
  justify-content: center;
  align-items: center;
  background-image: url("../icons/login_back.png");
  background-size: cover;
  background-blend-mode: soft-light;
}
body > div > section > ol > li:first-child > img {
  width: 18em;
  filter: drop-shadow(2px 4px 6px black);
}
body > div > section > ol > li:first-child > p {
  flex: 1;
  font-weight: bold;
  font-size: 1.2em;
}
body > div > section > ol > li:last-child {
  border-radius: 0 5px 5px 0;
  padding: 2em;
}
body > div > section > ol > li:last-child > h1 {
  margin-top: 2em;
  text-align: center;
  font-size: 2em;
}
body > div > section > ol > li:last-child > input {
  margin-top: 2em;
  border: none;
  border-radius: 0;
  box-shadow: inherit !important;
  border-bottom: medium solid var(--lightbeige);
  transition: border 0.2s, color 0.2s;
}
body > div > section > ol > li:last-child > input:focus, body > div > section > ol > li:last-child > input:focus-visible {
  border: none;
  border-bottom: medium solid var(--darkblue);
  color: medium solid var(--darkblue);
  outline: none;
}
body > div > section > ol > li:last-child > button {
  margin-top: 2em;
  align-self: end;
  border: medium solid var(--lightbeige);
}
