#toast {
	display: block; // Used to counter display flex applied to div sometimes
	position: absolute;
	width: 100%;
	text-align: center;
	transition: transform 1s;
	transform: translateY(-2em);

	& > p {
		border-radius: 0 0 5px 5px;
		padding: 0.2em;
	}
}
