#toast {
	display: block;
	position: absolute;
	width: 100%;
	text-align: center;
	transition: transform 1s;
	transform: translateY(-2em);
}

#toast > p {
	border-radius: 0 0 5px 5px;
	padding: 0.2em;
}
