.card-container {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 1em;
	left: -6em;
	transition: transform 0.2s;
}

.card {
	transition: all 0.6s ease;
	transform-style: preserve-3d;
	display: flex;
	flex-basis: 100%;
	justify-content: center;
}

.front, .back {
	position: absolute;
	backface-visibility: hidden;
}

.example {
	border-radius: 5px;
	color: #252830;
	width: 100px;
	box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15);
	background: lightgrey;
	height: 100px;
	border-radius: 0.5em;
}

.front {
	display: flex;
	align-items: center;
	justify-content: center;
}

.back {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #009688;
}

.card-container:hover {
	transform: translateX(6em);
}

.back {
	transform: rotateY(180deg);
}

.example > img {
	height: 100px;
}
