main > section > p {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

#users_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#users_list .user {
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  border-radius: 5px;
  margin: 0.5em;
  background-color: var(--bggrey);
  flex: 1 30%;
  max-width: 30%;
  min-width: min-content;
  padding: 0.75em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#users_list .user > img {
  border-radius: 50%;
  border: solid thick white;
}
#users_list .user > h3 {
  padding: 0.2em;
}
#users_list .user > p {
  padding: 0.2em;
}
#users_list .user > div {
  display: flex;
  gap: 0.5em;
}
#users_list .user > div > button {
  padding: 0.2em;
  box-shadow: rgb(0, 0, 0) 0 3px 8px;
}
#users_list .user > div > .redButton {
  background-color: rgb(200, 0, 0);
  border-color: rgb(175, 25, 25);
}
