main > section > p {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
}

#users_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	.user {
		box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
		border-radius: 5px;
		margin: 0.5em;
		background-color: var(--bggrey);
		flex: 1 30%;
		max-width: 30%;
		min-width: min-content;
		padding: 0.75em;
		display: flex;
		flex-direction: column;
		align-items: center;

		& > img {
			border-radius: 50%;
			border: solid thick white;
		}

		& > h3 {
			padding: 0.2em;
		}

		& > p {
			padding: 0.2em;
		}

		& > div {
			display: flex;
			gap: 0.5em;

			& > button {
				padding: 0.2em;
				box-shadow: rgba(0, 0, 0, 1) 0 3px 8px;
			}

			& > .redButton {
				background-color: rgba(200, 0, 0, 1);
				border-color: rgba(175, 25, 25, 1);
			}
		}
	}
}