body > aside {
	background-color: var(--darkblue);
	color: var(--txtwhite);

	& > section {
		&:first-child {
			border-bottom: thin solid white;
		}

		& > img {
			box-shadow: rgba(255, 255, 255, 0.24) 0 3px 8px;
			cursor: pointer;
		}
	}

	& > ul > li {
		&:hover {
			box-shadow: rgba(255, 255, 255, 0.24) 0 3px 8px;
		}

		& > img {
			filter: invert(1);
		}
	}
}

svg > .shape {
	stroke: var(--darkbeige);
}