#log_section > div {
  display: flex;
  margin-bottom: 1em;
}
#log_section > div:first-child {
  align-items: center;
  flex-wrap: wrap;
}
#log_section > div:first-child > button {
  display: flex;
  padding: 0.3em;
}
#log_section > div:first-child > button > img {
  height: 1em;
}
#log_section > div:first-child #logs_scroll_down_button + label {
  user-select: none;
}

#display-area {
  height: 0;
  flex: 1;
}
#display-area > #text-area {
  overflow-y: auto;
  overflow-x: hidden;
  background-color: black;
  padding: 0.5em;
  border-radius: 5px;
  flex: 1;
  width: calc(80vw - 4em);
}
#display-area > #text-area > pre {
  white-space: break-spaces;
  word-break: break-all;
  color: lightslategrey;
}
#display-area > #text-area > pre.search-hide {
  height: 0;
  visibility: hidden;
  margin: 0;
}
#display-area > #text-area > pre > a {
  color: lightseagreen;
}
#display-area > #text-area > pre.errorLog {
  color: lightcoral;
}
#display-area > #text-area > pre.warningLog {
  color: orange;
}
#display-area > #text-area > pre.infoLog {
  color: lightblue;
}
#display-area > #text-area > pre.startLog {
  color: lightgoldenrodyellow;
}
#display-area > #text-area > pre.updateLog {
  color: lightgreen;
}
