.commit {
	display: flex;
	align-items: center;
	margin: 0.5em 0;
	padding: 0.1em;

	& > img {
		border-radius: 50%;
		margin-right: 0.5em;
		height: 2em;
		cursor: pointer;
	}

	& > ol {
		flex: 1;

		& > li {
			font-size: 0.8em;
			color: var(--txtblack);
			padding-bottom: 0.2em;

			&:first-child {
				cursor: pointer;
				font-weight: bold;

				&:hover {
					text-decoration: underline;
				}
			}

			&:last-child {
				margin-top: 0.2em;

				& > span:first-child:hover {
					cursor: pointer;
					text-decoration: underline;
				}

				& > span:last-child {
					color: grey;
				}
			}
		}
	}

	& > button > img {
		height: 1em;
	}

	&.deployed {
		background-color: var(--bggrey);
	}

	&:not(.commit:last-child) {
		border-bottom: thin solid lightgrey;
	}
}

main > section {
	& > menu {
		display: flex;

		& > li {
			display: flex;
			align-items: center;

			&:last-child {
				flex: 1;
				justify-content: flex-end;
			}
		}

		button {
			&:not([disabled]) {
				color: var(--txtwhite);
				background-color: var(--darkblue);
				transition: background-color 0.5s;

				&:hover {
					color: initial;
					background-color: initial;
				}
			}

			&[disabled] {
				background-color: grey;
				cursor: inherit;
				border-color: var(--darkblue);
				color: var(--darkblue);
			}
		}
	}

	actual_commit {
		#deployed_commit {
			margin-top: 1em;
			border: none !important;
			background-color: var(--bggrey);
			padding: 0.5em;
			border-radius: 5px;

			button {
				display: none;
			}
		}

		& > webhook {
			display: flex;
			margin-bottom: 1em;

			& > div {
				border-left: medium solid var(--bggrey);
			    border-bottom: medium solid var(--bggrey);
			    border-bottom-left-radius: 50%;
			    height: 1.7em;
			    width: 1.7em;
				margin-left: 2em;
			}

			& > section {
				flex: 1;
				display: flex;
				align-items: center;
				font-size: 0.7em;
				border: none !important;
				background-color: var(--bggrey);
				padding: 0.5em;
				border-radius: 5px;
				margin-top: 0.5em;

				& > p {
					& > a {
						color: black;
						text-decoration: none;

						&:hover {
							text-decoration: underline;
						}
					}

					&:nth-child(2) {
						flex: 1;
						text-align: end;
					}
				}
			}
		}
	}

	& > ul {
		//flex: 1;
		overflow: auto;
	}
}
