#commands_list {

	.command {
		box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
		border-radius: 5px;
		margin: 0.5em;
		padding: 0.2em;

		// Command module infos
		& > section {
			display: flex;
			background-color: var(--txtblack);
			padding: 0.5em;
			border-radius: 5px;
			align-items: center;

			& > div {
				display: flex;
				flex-wrap: wrap;
				flex: 1;
				margin-left: 1em;

				& > h3 {
					color: var(--bgwhite);
				}

				& > p {
					flex: 1;
					color: var(--bggrey);
					text-align: center;
					text-transform: uppercase;
				}

				& > span {
					color: var(--bggrey);
					flex-basis: 100%;
					font-size: 0.8em;
				}
			}

			& > img {
				height: 2.5em;
			}
		}

		// Command options list
		& > ol > li {
			margin: 0.2em 0;

			& > h4 > span {
				color: var(--lightbeige);
			}

			& > p {
				font-style: italic;
				font-size: 0.9em;
			}
		}
	}
}

