#commands_list .command {
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  border-radius: 5px;
  margin: 0.5em;
  padding: 0.2em;
}
#commands_list .command > section {
  display: flex;
  background-color: var(--txtblack);
  padding: 0.5em;
  border-radius: 5px;
  align-items: center;
}
#commands_list .command > section > div {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin-left: 1em;
}
#commands_list .command > section > div > h3 {
  color: var(--bgwhite);
}
#commands_list .command > section > div > p {
  flex: 1;
  color: var(--bggrey);
  text-align: center;
  text-transform: uppercase;
}
#commands_list .command > section > div > span {
  color: var(--bggrey);
  flex-basis: 100%;
  font-size: 0.8em;
}
#commands_list .command > section > img {
  height: 2.5em;
}
#commands_list .command > ol > li {
  margin: 0.2em 0;
}
#commands_list .command > ol > li > h4 > span {
  color: var(--lightbeige);
}
#commands_list .command > ol > li > p {
  font-style: italic;
  font-size: 0.9em;
}
