#log_section > div {
	display: flex;
	margin-bottom: 1em;

	&:first-child {
		align-items: center;
		flex-wrap: wrap; // For responsive

		& > button {
			display: flex;
			padding: 0.3em;

			& > img {
				height: 1em;
			}
		}

		#logs_scroll_down_button + label {
			user-select: none;
		}
	}
}

#display-area {
	height: 0;
	flex: 1;

	& > #text-area {
		overflow-y: auto;
		overflow-x: hidden;
		background-color: black;
		padding: 0.5em;
		border-radius: 5px;
		flex: 1;
		width: calc(100vw - 20vw - (1em + 1em + 1em + 1em)); // Largeur fenêtre - largeur aside - (margin left aside + margin right main + padding left et right main + padding display-area gauche et droite)

		& > pre {
			white-space: break-spaces;
			word-break: break-all;
			color: lightslategrey;

			&.search-hide {
				height: 0;
				visibility: hidden;
				margin: 0;
			}

			& > a {
				color: lightseagreen;
			}

			&.errorLog {
				color: lightcoral;
			}

			&.warningLog {
				color: orange;
			}

			&.infoLog {
				color: lightblue;
			}

			&.startLog {
				color: lightgoldenrodyellow;
			}

			&.updateLog {
				color: lightgreen;
			}
		}
	}
}

