body > aside {
  background-color: var(--darkblue);
  color: var(--txtwhite);
}
body > aside > section:first-child {
  border-bottom: thin solid white;
}
body > aside > section > img {
  box-shadow: rgba(255, 255, 255, 0.24) 0 3px 8px;
  cursor: pointer;
}
body > aside > ul > li:hover {
  box-shadow: rgba(255, 255, 255, 0.24) 0 3px 8px;
}
body > aside > ul > li > img {
  filter: invert(1);
}

svg > .shape {
  stroke: var(--darkbeige);
}
