.commit {
  display: flex;
  align-items: center;
  margin: 0.5em 0;
  padding: 0.1em;
}
.commit > img {
  border-radius: 50%;
  margin-right: 0.5em;
  height: 2em;
  cursor: pointer;
}
.commit > ol {
  flex: 1;
}
.commit > ol > li {
  font-size: 0.8em;
  color: var(--txtblack);
  padding-bottom: 0.2em;
}
.commit > ol > li:first-child {
  cursor: pointer;
  font-weight: bold;
}
.commit > ol > li:first-child:hover {
  text-decoration: underline;
}
.commit > ol > li:last-child {
  margin-top: 0.2em;
}
.commit > ol > li:last-child > span:first-child:hover {
  cursor: pointer;
  text-decoration: underline;
}
.commit > ol > li:last-child > span:last-child {
  color: grey;
}
.commit > button > img {
  height: 1em;
}
.commit.deployed {
  background-color: var(--bggrey);
}
.commit:not(.commit:last-child) {
  border-bottom: thin solid lightgrey;
}

main > section > menu {
  display: flex;
}
main > section > menu > li {
  display: flex;
  align-items: center;
}
main > section > menu > li:last-child {
  flex: 1;
  justify-content: flex-end;
}
main > section > menu button:not([disabled]) {
  color: var(--txtwhite);
  background-color: var(--darkblue);
  transition: background-color 0.5s;
}
main > section > menu button:not([disabled]):hover {
  color: initial;
  background-color: initial;
}
main > section > menu button[disabled] {
  background-color: grey;
  cursor: inherit;
  border-color: var(--darkblue);
  color: var(--darkblue);
}
main > section actual_commit #deployed_commit {
  margin-top: 1em;
  border: none !important;
  background-color: var(--bggrey);
  padding: 0.5em;
  border-radius: 5px;
}
main > section actual_commit #deployed_commit button {
  display: none;
}
main > section actual_commit > webhook {
  display: flex;
  margin-bottom: 1em;
}
main > section actual_commit > webhook > div {
  border-left: medium solid var(--bggrey);
  border-bottom: medium solid var(--bggrey);
  border-bottom-left-radius: 50%;
  height: 1.7em;
  width: 1.7em;
  margin-left: 2em;
}
main > section actual_commit > webhook > section {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 0.7em;
  border: none !important;
  background-color: var(--bggrey);
  padding: 0.5em;
  border-radius: 5px;
  margin-top: 0.5em;
}
main > section actual_commit > webhook > section > p > a {
  color: black;
  text-decoration: none;
}
main > section actual_commit > webhook > section > p > a:hover {
  text-decoration: underline;
}
main > section actual_commit > webhook > section > p:nth-child(2) {
  flex: 1;
  text-align: end;
}
main > section > ul {
  overflow: auto;
}
