#profil_section {
  display: flex;
  align-items: center;
}
#profil_section > img {
  border-radius: 50%;
  max-height: 5em;
  margin-bottom: 2em;
}
#profil_section > p {
  flex: 1;
  display: flex;
  align-items: center;
  text-align: center;
}
