body > aside {
	background-color: var(--darkbeige);

	& > section {
		&:first-child {
			border-bottom: thin solid black;
		}

		& > img {
			box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
		}
	}

	& > ul > li {
		&:hover {
			box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
		}
	}
}

svg > .shape {
	stroke: var(--darkblue);
}