#profil_section {
	display: flex;
	align-items: center;

	& > img {
		border-radius: 50%;
		max-height: 5em;
		margin-bottom: 2em;
	}

	& > p {
		flex: 1;
		display: flex;
		align-items: center;
		text-align: center;
	}
}