body > aside {
  background-color: var(--darkbeige);
}
body > aside > section:first-child {
  border-bottom: thin solid black;
}
body > aside > section > img {
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}
body > aside > ul > li:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

svg > .shape {
  stroke: var(--darkblue);
}
