<!DOCTYPE html>
<!--suppress ALL -->
<html lang="fr" dir="ltr">
    <head>
        <%- include('../head.ejs'); %>
        <title>Panneau d'administration</title>
        <link rel="stylesheet" href="/styles/home.css">
        <link rel="stylesheet" href="/styles/admin/home.css">
        <link rel="stylesheet" href="/styles/admin/home_commits.css">
        <link rel="stylesheet" href="/styles/admin/home_commands.css">
        <link rel="stylesheet" href="/styles/admin/home_logs.css">
        <link rel="stylesheet" href="/styles/admin/home_users.css">
    </head>

    <body>
        <aside>
            <section>
                <img id="icon" src="/icons/icon.png" alt="Icone du panneau d'administration">
                <p>Panneau d'administration</p>
            </section>
            <ul id="main_list">
                <% for (const part of parts_list) { %>
                    <li onclick="showMainPart(<%= parts_list.indexOf(part) %>)">
                        <img src="<%= part.icon %>" alt="Icone de la partie">
                        <div>
                            <svg>
                                <rect class="shape" height="60" width="320"/>
                            </svg>
                            <p><%= part.title %></p>
                        </div>
                    </li>
                <% } %>
            </ul>
            <section>
                <button onclick='window.location.href = "/admin/disconnect"'>
                    <img src="/icons/power.png" alt="Icone de déconnexion">
                    <p>Déconnexion</p>
                </button>
            </section>
        </aside>

        <main class="active">
            <h1>Logs</h1>
            <section id="log_section">
                <div>
                    <select id="log_selector">
                        <option value="live#live" selected>Live</option>

                        <optgroup label="Olds" id="optgroup_olds">
                            <% for (const filename in olds_files) { %>
                                <option value="olds#<%= filename; %>"><%= filename; %></option>
                            <% } %>
                        </optgroup>
                    </select>
                    <input id="log_search" type="search" placeholder="Recherche" />
                    <button id="logs_refresh_button" title="Rafraichir la liste des fichiers de logs">
                        <img src="/icons/refresh_arrow.png" alt="Icone de rafraichissement">
                    </button>
                    <button id="logs_download_button" title="Télécharger le fichier de logs actuellement affiché">
                        <img src="/icons/download.png" alt="Icone de téléchargement">
                    </button>
                    <input type="checkbox" id="logs_scroll_down_button" checked/>
                    <label for="logs_scroll_down_button">Scroll automatique</label>
                </div>
            </section>
        </main>

        <main>
            <h1>Déploiements</h1>
            <section>
                <actual_commit>
                    <div id="deployed_commit">
                        <%# Content is added with Javascript : This is the currently deployed commit %>
                    </div>
                    <webhook>
                        <%# The rounded line %>
                        <div></div>
                        <section>
                            <% if (locals.hostname === "localhost" || locals.hostname === "127.0.0.1") { %>
                                <p>Webhook actif: aucun pour localhost</p>
                                <p><%= webhooks.length %> webhooks au total</p>
                                <button disabled>Supprimer</button>
                            <% } else { %>
                                <% currentWebhook = webhooks.find(hook => hook.url.split("/")[2] === locals.hostname); %>
                                <p>Webhook actif: <%- currentWebhook ? "<a target='_blank' href='https://gitlab.com/DENECHERE_Killian/BLG/-/hooks/"+ currentWebhook.id +"/edit'>#" + currentWebhook.id + "</a>" : "aucun" %></p>
                                <p id="tooMuchHooks"><%= webhooks.length - 1 %> webhooks en trop</p>
                                <button <%= webhooks.length === 1 ? "disabled" : `id=removeWebhooks onclick=commit_manager.removeWebhooks()` %>>Supprimer</button>
                            <% } %>
                        </section>
                    </webhook>
                </actual_commit>

                <menu>
                    <li>
                        <p>Branche</p>
                        <select id="branch_selector">
                            <% for (const branch of branch_list) { %>
                                <option value="<%= branch.name; %>"><%= branch.name; %></option>
                            <% } %>
                        </select>
                    </li>
                    <li>
                        <input id="commit_hash_input" type="text" placeholder="a46c5d59">
                        <button onclick="commit_manager.deploy(commit_hash_input.value)">Déployer</button>
                    </li>
                </menu>

                <ul id="commit_list">
                    <%# Content is added with Javascript : this is the list of commits for the selected branch %>
                </ul>
            </section>
        </main>

        <main>
            <h1>Commandes</h1>
            <section>
                <ul id="commands_list">

                </ul>
            </section>
        </main>

        <main>
            <h1>Utilisateurs</h1>
            <section>
                <ul id="users_list">

                </ul>
            </section>
        </main>
    </body>

    <script src="/scripts/admin/classes/LogManager.js" type="text/javascript"></script>
    <script src="/scripts/admin/home.js" type="text/javascript"></script>
    <script src="/scripts/admin/home_logs.js" type="text/javascript"></script>
    <script src="/scripts/admin/home_commands.js" type="text/javascript"></script>
    <script src="/scripts/admin/home_users.js" type="text/javascript"></script>
    <script type="text/javascript">
		const toast_structure   = `<%- include('../toast.ejs'); %>`;// Set the structure of a toast
		const command_structure = `<%- include('home_command.ejs'); %>`;// Set the structure of a command
		const commit_structure  = `<%- include('home_commit.ejs'); %>`; // Set the structure of a commit
		const deployed_commit = JSON.parse(`<%- JSON.stringify(deployed_commit) %>`.replace(/(?<![{:\[\\,])&*(?!\" ?[,\]}:] *)\"/g, '\\"').replaceAll('\n', '\\n')); // Currently deployed commit. The " and \n are backslashed
		const parts_list      = JSON.parse(`<%- JSON.stringify(parts_list); %>`); // All admin parts
		showMainPart(<%= current_part_index %>); // Show the part corresponding to url
    </script>
    <script src="/scripts/admin/home_deploys.js" type="text/javascript"></script>
    <script src="/scripts/admin/classes/CommitManager.js" type="text/javascript"></script>
    <script src="/scripts/Toast.js" type="text/javascript"></script>
</html>
