<div class="commit %IS_DEPLOYED_COMMIT%">
    <img src="%AUTHOR_AVATAR%" onclick="window.open('%AUTHOR_PROFILE%', '_blank');" alt="Icone de profil de l'auteur du commit">
    <ol>
        <li onclick="window.open('%COMMIT_URL%', '_blank');">%TITLE%</li>
        <li>Par <span onclick="window.open('%AUTHOR_PROFILE%', '_blank');">%AUTHOR_NAME%</span> <span title="%AUTHORED_DATE_TOOLTIP%">%AUTHORED_DATE%</span></li>
    </ol>
    <button onclick="commit_manager.deploy('%COMMIT_HASH%')">
        <img src="/icons/deploy.png" alt="Icone de déploiement du commit" title="Déployer ce commit">
    </button>
</div>