<section>
    <img src="%SRC%" alt="Icone de la commande">
    <div>
        <h3>/%COMMAND%</h3>
        <p>%MODULE_NAME%</p>
        <div class="switch">
            <input type="checkbox" id="%COMMAND%" %CHECKED% onchange="commandManager.activationSwitchChanged(this)">
            <label for="%COMMAND%"></label>
        </div>
        <span>%DESC%</span>
    </div>
</section>
<ol>
    %OPTIONS%
</ol>