<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
        <%- include('../head.ejs'); %>
        <title>Connexion au panneau d'administration</title>
        <link rel="stylesheet" href="../../styles/login.css">
        <link rel="stylesheet" href="../../styles/admin/login.css">
    </head>
    <body>
        <div>
            <section>
                <ol>
                    <li>
                        <img src="../../icons/icon_negative.png" alt="Icone de BLG">
                    </li>

                    <li>
                        <h1>Connexion</h1>
                        <input id="id" type="text" placeholder="Identifiant">
                        <input id="password" type="password" placeholder="Mot de passe">
                        <button id="login">
                            <p>Se connecter</p>
                            <img src="../../icons/right_arrow.png" alt="Flèche vers la droite">
                        </button>
                    </li>
                </ol>
            </section>
        </div>

        <script type="text/javascript">
			// Set the structure of a toast
			const toast_structure = `<%- include('../toast.ejs'); %>`;
        </script>
        <script type="text/javascript" src="../../scripts/login.js"></script>
        <script type="text/javascript" src="../../scripts/Toast.js"></script>
    </body>
</html>
