<!DOCTYPE html>
<html lang="fr" dir="ltr">
    <head>
        <%- include('../head.ejs'); %>
        <title>Accueil</title>
        <link rel="stylesheet" href="/styles/home.css">
        <link rel="stylesheet" href="/styles/user/home.css">
        <link rel="stylesheet" href="/styles/user/home_profil.css">
    </head>

    <body>
        <aside>
            <section>
                <img id="icon" src="/icons/icon.png" alt="Icone du panneau utilisateur">
                <p>Panneau utilisateur</p>
            </section>

            <ul id="main_list">
               <% for (const part of parts_list) { %>
                    <li onclick="showMainPart(<%= parts_list.indexOf(part) %>)">
                        <img src="<%= part.icon %>" alt="Icone de la partie">
                        <div>
                            <svg>
                                <rect class="shape" height="60" width="320"/>
                            </svg>
                            <p><%= part.title %></p>
                        </div>
                    </li>
                <% } %>
            </ul>

            <section>
                <button onclick='window.location.href = "/disconnect"'>
                    <img src="/icons/power.png" alt="Icone de déconnexion">
                    <p>Déconnexion</p>
                </button>
            </section>
        </aside>

        <main class="active">
            <h1></h1>
            <section id="profil_section">
                <img src="<%= user.userImageURL %>" alt="Image de profil de l'utilisateur">
                <h2>Bonjour <%= user.username %></h2>
                <p>Bien joué, tu as trouvé ce site avant tout le monde :D<br>Malheureusement, cet espace n'est pas encore totalement disponible.</p>
            </section>
        </main>
    </body>

    <script src="/scripts/user/home.js" type="text/javascript"></script>
    <script type="text/javascript">
		const parts_list = JSON.parse(`<%- JSON.stringify(parts_list); %>`); // All the parts
        // showMainPart(<%= current_part_index %>); // Show the part corresponding to url
    </script>
</html>